*.m4a
*.mp3
*.mp4

Index.md
Transcript.md
Highlights.md

Private/
Solutions/
Solution/

CVIT/

*_Summary.md
*_summary.txt
*_ExamQuestions.md
*_KeyPoints.md
*_data.json
*_complete.md

.obsidian
contents.base

.ipynb_checkpoints/
__MACOSX
.DS_Store

copilot-conversations/
copilot-custom-prompts/

*.xlsx
~$*

*.toc
*.out
*.log
*.aux
*.tex

.idea/
.vscode/

venv/
